.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 64px;
    background-color: #383230;
    /* Dark background from image */
    border-bottom: 1px solid var(--border-white-4);
}

.logoContainer {
    width: 80px;
    height: 80px;
}

.logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.navLinks {
    display: flex;
    gap: 32px;
    align-items: center;
}

.navLink {
    color: var(--white);
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.2s;
}

.navLink:hover {
    color: var(--primary-yellow);
}

.activeLink {
    color: var(--black);
    background-color: var(--primary-yellow);
    padding: 10px 24px;
    border-radius: 8px;
    font-weight: 600;
}