.footer {
    padding: 2rem 0;
    background-color: var(--secondary);
    color: var(--foreground);
    text-align: center;
}

.footerContent {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    padding: 0 5%;
    gap: 2rem;
    margin-bottom: 64px;
    width: 100%;
    max-width: 100%;
}

.footerContentLeft {
    display: flex;
    flex-direction: column;
    gap: 32px;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}

.footerContentLeftSocialLinks {
    display: flex;
    flex-direction: row;
    gap: 24px;
    color: var(--primary-yellow);
    /* width: 189px; */
    height: 47px;
}

.footerContentLeftCenterHead {
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    color: var(--primary-yellow);
    margin-bottom: 32px;
}

.footerContentLeftCenterLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
    text-align: left;
    cursor: pointer;
    gap: 32px;
}

.footerContentLeftCenterLinks a {
    text-decoration: underline;
    cursor: pointer;
}

.footerContentLeftCenterLinks a:hover {
    color: var(--primary-yellow);
    text-decoration-color: var(--primary-yellow);
    cursor: pointer;
}

.footerContentRightCenterHead {
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    color: var(--primary-yellow);
    margin-bottom: 32px;
}

.footerContentRightCenterLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
    text-align: left;
    cursor: pointer;
    gap: 16px;
}

.footerContentRightCenterLinks a {
    text-decoration: underline;
}

.footerContentRightCenterLinks a:hover {
    color: var(--primary-yellow);
}

.footerContentRightHead {
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    color: var(--primary-yellow);
    margin-bottom: 32px;
}

.footerContentRightLinks {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: left;
}

.footerContentRightHours {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hoursList {
    list-style-type: disc;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@media (max-width: 960px) {
    .footerContent {
        flex-direction: column;
        gap: 40px;
    }

    .footerContentLeft,
    .footerContentLeftCenterLinks,
    .footerContentRightCenterLinks,
    .footerContentRightLinks {
        width: 100%;
        text-align: center;
        align-items: center;
    }

    .footerContentLeftCenterHead,
    .footerContentRightCenterHead,
    .footerContentRightHead {
        text-align: center;
        width: 100%;
    }

    .footerContentLeftSocialLinks {
        justify-content: center;
    }
}