.section {
    padding: 80px 0;
    background-color: var(--secondary-brown);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
}

.section h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-yellow);
    margin-bottom: 64px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
}

.review {
    display: flex;
    flex-direction: column;
    width: 413px;
    height: 207px;
    background-color: var(--border-white-22);
    border-radius: 8px;
    padding: 24px;
    gap: 16px;
}

.review h4 {
    color: var(--primary-yellow);
}

.review p {
    color: var(--white);
    margin-bottom: 16px;
}

.reviewImage {
    background-image: url('/images/profile.png');
    background-size: cover;
    background-position: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    gap: 16px;
    border: 1px solid var(--primary-yellow);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 64px;
    margin-left: 64px;
}

.reviewFooter {
    display: flex;
    align-items: center;
    gap: 16px;
}

.stars {
    display: flex;
    gap: 4px;
}

.star {
    width: 20px;
    height: 20px;
}