.container {
    width: 100%;
    min-height: 100vh;
    background-color: var(--brown-secondary);
    display: flex;
}

.mainContent {
    flex: 1;
    margin-left: 250px;
    padding: 20px;
    min-height: 100vh;
    width: calc(100% - 250px);
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .mainContent {
        margin-left: 0;
        width: 100%;
        padding: 1rem;
        margin-bottom: 80px;
        /* Space for bottom nav */
    }
}