:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Custom Colors */
  --primary-yellow: #FFB52B;
  --black: #020202;
  --white: #F5F5F5;
  --brown-secondary: #1B1311;
  --text-white-75: rgba(245, 245, 245, 0.75);
  --border-white-22: rgba(245, 245, 245, 0.22);
  --border-white-4: rgba(245, 245, 245, 0.04);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--brown-secondary);
  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Typography */
h1 {
  font-family: var(--font-montserrat);
  font-weight: 700;
  /* Bold */
  font-size: 48px;
}

h2 {
  font-family: var(--font-montserrat);
  font-weight: 700;
  /* Bold */
  font-size: 36px;
}

h3 {
  font-family: var(--font-montserrat);
  font-weight: 600;
  /* SemiBold */
  font-size: 24px;
}

h4 {
  font-family: var(--font-montserrat);
  font-weight: 600;
  /* SemiBold */
  font-size: 20px;
}

.body-big {
  font-family: var(--font-montserrat);
  font-weight: 500;
  /* Medium */
  font-size: 24px;
}

.body-large {
  font-family: var(--font-montserrat);
  font-weight: 500;
  /* Medium */
  font-size: 20px;
}

.body-regular {
  font-family: var(--font-montserrat);
  font-weight: 500;
  /* Medium */
  font-size: 18px;
}

.body-small {
  font-family: var(--font-montserrat);
  font-weight: 500;
  /* Medium */
  font-size: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}