.about {
    padding: 80px 0;
    background-color: var(--brown-secondary);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
}

.about h1 {
    display: flex;
    color: var(--primary-yellow);
    align-items: center;
    justify-content: center;
    margin-bottom: 48px;
}

.aboutContent {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.aboutImage {
    position: relative;
}

.aboutImage1 {
    z-index: 1;
    width: 539px;
    height: 291px;
    background-image: url('/images/about/about-photo1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 64px;
    border-radius: 24px;
    filter: drop-shadow(-2px 2px 0px var(--primary-yellow));
}

.aboutImage2 {
    z-index: 2;
    width: 539px;
    height: 291px;
    background-image: url('/images/about/about-photo2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 82px;
    border-radius: 24px;
    margin-left: -32px;
    margin-right: -32px;
    filter: drop-shadow(-2px 2px 0px var(--primary-yellow)) drop-shadow(2px 2px 0px var(--primary-yellow));
}

.aboutImage3 {
    z-index: 1;
    width: 539px;
    height: 291px;
    background-image: url('/images/about/about-photo3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 64px;
    border-radius: 24px;
    filter: drop-shadow(2px 2px 0px var(--primary-yellow));
}

.aboutText {
    margin-left: 64px;
    margin-right: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.aboutDescription h3 {
    color: var(--primary-yellow);
}

.aboutDescription1 {
    margin-top: -64px;
}

.aboutDescription2 {
    text-align: center;
    margin-top: 32px;
}

.aboutDescription3 {
    text-align: right;
}

@media (max-width: 1024px) {
    .container {
        padding: 0 40px;
    }

    .aboutContent {
        flex-direction: column;
        align-items: center;
        gap: 64px;
    }

    .aboutImage {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0 !important;
    }

    .aboutImage1,
    .aboutImage2,
    .aboutImage3 {
        margin: 0 !important;
        position: relative;
        top: 0;
        left: 0;
        right: 0;
    }

    .aboutImage2 {
        display: none;
        /* Hide decorative overlapped images on mobile/tablet for simplicity */
    }

    .aboutImage1 {
        width: 100%;
        max-width: 539px;
    }

    .aboutText {
        flex-direction: column;
        gap: 32px;
        margin: 0;
        text-align: center;
    }

    .aboutDescription1,
    .aboutDescription2,
    .aboutDescription3 {
        margin: 0 !important;
        text-align: center;
        max-width: 600px;
    }
}