.hero {
    padding: 4rem 0;
    background-image: url('../../public/images/hero-photo.png');
    background-size: cover;
    background-position: center;
    color: var(--foreground);
    margin: 64px;
}

.hero h1 {
    color: var(--primary-yellow);
    margin-bottom: 48px;
}

.hero p {
    font-size: 24px;
    margin-bottom: 48px;
}

.hero Button {
    margin-bottom: 48px;
}

.separator {
    color: var(--primary-yellow);
    margin: 24px;
}