.hero {
    padding-top: 160px;
    padding-bottom: 4rem;
    background-image:
        radial-gradient(circle, rgba(44, 30, 27, 0.5), rgba(0, 0, 0, 0.7)),
        url('/images/hero-photo.jpg');
    background-size: cover;
    background-position: center;
    color: var(--foreground);
}

.hero h1 {
    margin-left: 64px;
    color: var(--primary-yellow);
    margin-bottom: 48px;
}

.hero p {
    margin-left: 64px;
    font-size: 24px;
    margin-bottom: 48px;
}

.hero Button {
    margin-left: 64px;
    margin-bottom: 48px;
}

.separator {
    color: var(--primary-yellow);
    margin: 24px;
}

@media (max-width: 1024px) {
    .hero {
        background-position: 60% center;
    }
}

@media (max-width: 768px) {
    .hero {
        padding-top: 120px;
        text-align: center;
        background-position: 70% center;
    }

    .hero h1 {
        margin-left: 0;
        font-size: 36px;
        padding: 0 20px;
    }

    .hero p {
        margin-left: 0;
        font-size: 18px;
        padding: 0 20px;
    }

    .hero Button {
        margin-left: 0;
    }
}