.section {
    padding: 80px 0;
    background-color: var(--brown-secondary);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
}

.section h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-yellow);
    margin-bottom: 64px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/images/booking-bg.png');
    background-size: cover;
    background-position: center;
    width: 1312px;
    height: 466px;
}

.contentHeader h2 {
    color: var(--primary-yellow);
    margin-top: 64px;
}

.contentSteps {
    display: flex;
    flex-direction: column;
    margin-top: 64px;
    font-size: 24px;
    gap: 0px;
    font-weight: 600;
}

.contentStep1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--border-white-22);
    border-radius: 16px;
    width: 357px;
    height: 47px;
}

.contentStep2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 159px;
    background-color: var(--border-white-22);
    border-radius: 16px;
    width: 425px;
    height: 47px;
}

.contentStep3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 318px;
    background-color: var(--border-white-22);
    border-radius: 16px;
    width: 353px;
    height: 47px;
}

.contentStep4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 477px;
    background-color: var(--border-white-22);
    border-radius: 16px;
    width: 255px;
    height: 47px;
}

.contentButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}