.btn {
    width: 284px;
    height: 65px;
    font-size: 24px;
    font-weight: 600;
    border-radius: 16px;
    cursor: pointer;
}

.book-appointment {
    background-color: var(--border-white-22);
    color: var(--white);
    border: 2px solid var(--primary-yellow);
}

.book-appointment:hover {
    background-color: var(--primary-yellow);
    color: var(--white);
}

.portfolio {
    width: 190px;
    height: 49px;
    background-color: var(--border-white-22);
    color: var(--primary-yellow);
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    border: 1px solid var(--primary-yellow);
}

.portfolio:hover {
    background-color: var(--primary-yellow);
    color: var(--white);
}

.gallery {
    width: 248px;
    height: 65px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 16px;
    border: 1px solid var(--primary-yellow);
    background-color: var(--border-white-22);
    color: var(--white);
}

.gallery:hover {
    background-color: var(--primary-yellow);
    color: var(--brown-secondary);
}

.booking-cta {
    width: 280px;
    height: 55px;
    font-size: 24px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    background-color: transparent;
    color: var(--primary-yellow);
    border: 3px solid var(--primary-yellow);
}

.booking-cta:hover {
    box-shadow:
        0 0 2px var(--primary-yellow),
        0 0 4px var(--primary-yellow),
        0 0 8px var(--primary-yellow),
        0 0 16px var(--primary-yellow);
}

.contact {
    width: 280px;
    height: 55px;
    border-radius: 8px;
    border: 3px solid var(--primary-yellow);
    color: var(--primary-yellow);
    background-color: transparent;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.contact:hover {
    box-shadow:
        0 0 2px var(--primary-yellow),
        0 0 4px var(--primary-yellow),
        0 0 8px var(--primary-yellow),
        0 0 16px var(--primary-yellow);
}

.sign-in {
    width: 132px;
    height: 45px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 8px;
    border: 3px solid var(--primary-yellow);
    cursor: pointer;
    background-color: var(--primary-yellow);
    color: var(--brown-secondary);
}

.sign-in:hover {
    box-shadow:
        0 0 2px var(--primary-yellow),
        0 0 4px var(--primary-yellow),
        0 0 8px var(--primary-yellow),
        0 0 16px var(--primary-yellow);
}

.barber-work {
    width: 180px;
    height: 55px;
    border-radius: 16px;
    border: 2px solid var(--primary-yellow);
    color: var(--white);
    background-color: var(--border-white-22);
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.barber-appointment {
    width: 220px;
    height: 55px;
    font-size: 20px;
    border-radius: 8px;
    border: 1px solid var(--primary-yellow);
    background-color: transparent;
    color: var(--primary-yellow);
    cursor: pointer;
}

.barber-appointment:hover {
    background-color: var(--primary-yellow);
    color: var(--brown-secondary);
    box-shadow:
        0 0 2px var(--primary-yellow),
        0 0 4px var(--primary-yellow),
        0 0 8px var(--primary-yellow),
        0 0 16px var(--primary-yellow);
}

.sign-up {
    width: 100%;
    height: 55px;
    font-size: 24px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    background-color: var(--primary-yellow);
    border: 1px solid var(--primary-yellow);
}

.sign-up:hover {
    box-shadow:
        0 0 2px var(--primary-yellow),
        0 0 4px var(--primary-yellow),
        0 0 8px var(--primary-yellow),
        0 0 16px var(--primary-yellow);
}

.reset-password {
    width: 100%;
    height: 55px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
    background-color: var(--primary-yellow);
    border: 1px solid var(--primary-yellow);
}

.reset-password:hover {
    box-shadow:
        0 0 2px var(--primary-yellow),
        0 0 4px var(--primary-yellow),
        0 0 8px var(--primary-yellow),
        0 0 16px var(--primary-yellow);
}

.new-appointment {
    width: 300px;
    height: 65px;
    font-size: 24px;
    font-weight: 500;
    border-radius: 16px;
    cursor: pointer;
    color: var(--brown-secondary);
    background-color: var(--primary-yellow);
    border: 1px solid var(--primary-yellow);
}

.new-appointment:hover {
    box-shadow:
        0 0 2px var(--primary-yellow),
        0 0 4px var(--primary-yellow),
        0 0 8px var(--primary-yellow),
        0 0 16px var(--primary-yellow);
}

.next {
    width: 150px;
    height: 40px;
    border-radius: 16px;
    border: 1px solid var(--primary-yellow);
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    background-color: var(--primary-yellow);
    color: var(--brown-secondary);
    box-shadow:
        0 0 1px var(--primary-yellow),
        0 0 2px var(--primary-yellow),
        0 0 4px var(--primary-yellow),
        0 0 8px var(--primary-yellow);
}

.back {
    width: 150px;
    height: 40px;
    border-radius: 16px;
    background-color: transparent;
    border: 1px solid var(--primary-yellow);
    color: var(--white);
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}

.review {
    width: 180px;
    height: 40px;
    border-radius: 16px;
    border: 1px solid var(--primary-yellow);
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    background-color: var(--primary-yellow);
    color: var(--brown-secondary);
    box-shadow:
        0 0 1px var(--primary-yellow),
        0 0 2px var(--primary-yellow),
        0 0 4px var(--primary-yellow),
        0 0 8px var(--primary-yellow);
}

.confirm {
    width: 180px;
    height: 40px;
    border-radius: 16px;
    border: 1px solid #76ff03;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    background-color: #76ff03;
    color: var(--brown-secondary);
    box-shadow:
        0 0 1px #76ff03,
        0 0 2px #76ff03,
        0 0 4px #76ff03,
        0 0 8px #76ff03;
}