.inputWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    margin-bottom: 24px;
}

.label {
    color: var(--white);
    font-size: 14px;
    font-weight: 600;
}

.input {
    width: 100%;
    height: 48px;
    border-radius: 8px;
    background-color: var(--border-white-22);
    border: 1px solid transparent;
    padding: 0 16px;
    color: var(--white);
    font-size: 14px;
    outline: none;
    transition: all 0.2s ease;
}

.input:focus {
    border-color: var(--primary-yellow);
    box-shadow: 0 0 0 1px var(--primary-yellow);
}

.input.error {
    border-color: #FF5252;
}

.errorMessage {
    color: #FF5252;
    font-size: 12px;
    margin-top: 4px;
}