.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.container::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('/images/logo.svg');
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.1;
    z-index: -1;
}

.logo {
    margin-bottom: 64px;
}

.container h1 {
    margin-bottom: 24px;
}

.separator {
    color: var(--primary-yellow);
}

.formContainer {
    width: 530px;
}

.formContainer input {
    width: 100%;
    height: 48px;
    border-radius: 8px;
    background-color: var(--border-white-22);
    border: none;
    padding: 0 16px;
    color: var(--white);
    font-size: 14px;
    outline: none;
    transition: all 0.2s ease;
    margin-bottom: 24px;
}