.section {
    padding: 80px 0;
    background-color: var(--secondary-brown);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
}

.section h1 {
    color: var(--primary-yellow);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 64px;
}

.services {
    display: flex;
    flex-direction: column;
    width: 918px;
    height: 494px;
    margin-left: 64px;
    gap: 32px;
}

.services h3 {
    color: var(--primary-yellow);
}

.serviceItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.leftContent {
    display: flex;
    align-items: center;
    gap: 16px;
}

.textContent {
    display: flex;
    flex-direction: column;
}

.serviceImage {
    width: 70px;
    height: 50px;
    flex-shrink: 0;
    background-image: url('/images/service/service-logo.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.servicePrice {
    font-size: 24px;
    font-weight: 600;
    color: var(--white);
    flex-shrink: 0;
}

.mainWrapper {
    display: flex;
    justify-content: space-between;
}

.rightContentImage {
    width: 310px;
    height: 494px;
    background-image: url('/images/service/service photo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 64px;
    border-radius: 16px;
}